
/* --------------------------------------------------------------global------------------------------------------------------------------------------- */

*{
    /* set font size to 62.5% because  */
font-size:62.5%;
margin:1rem;
padding:1rem 1rem;

font-family: 'Orbitron', sans-serif;




}

 a{
    font-size:2.4rem;
    text-decoration: none;
}
a:hover{
    background-color: gold;
}
figcaption{
    font-size:1.6rem;
}
input{
    font-size:1.6rem;
   
}
button{
    font-size:1.6rem;
}
h1{
    font-size:2.4rem;
    text-align: center;

}

/* ----------x---------------------------------------------------global-----------------------------------x------------------------------------------- */

.link{
    display:inline;
    position:relative;
    left:46rem;
    bottom:10rem;
   
}
#nav{
    background-color:slategray;
    color:white;
    height:8rem;
justify-content: unset;


}
#section{
    display:grid;
    width:25%;
    font-size:3rem;
    border:.1rem solid yellow;
    height: auto;
}
#mainContent{
    display:inline block;
    width:500px;
   flex-wrap: wrap;
    position:relative;
    left:35rem;
    bottom:140rem;
    height: auto;
}
.email{
    position:relative;
    left:50rem;
    bottom:50rem;
    font-size: 2.6rem;
    height:auto;
}
#container{
    border:1px solid yellow;
}

